This program is used to calculate average flow rate for each ISCO sampling event. 

For future development - this code should be modified so that it is able to run in "Terminal" to iterate through all ISCO Flowlink output (raw flow data).

In [1]:
import pandas as pd

In [2]:
# I used 99 to mark as the start of sampling event (especialyl useful for to identify when ISCO sampler was restarted)
data = pd.read_csv('T8_all_flow.csv')
data = data.fillna(0)

In [3]:
data.head()

         Datetime  Flow Rate  Sample Event
0  4/6/2015 14:17      0.000           0.0
1  4/6/2015 14:18      0.016           0.0
2  4/6/2015 14:19      0.024           0.0
3  4/6/2015 14:20      0.031           0.0
4  4/6/2015 14:21      0.032           0.0

In [4]:
output = pd.DataFrame(columns=['date_time', 'avg_flow', 'sampling'], index=data.index) 
# this dataframe is too big, but if I remove index=something, the code below won't work.
# just use remove empty rows later on
output.head()

  date_time avg_flow sampling
0       NaN      NaN      NaN
1       NaN      NaN      NaN
2       NaN      NaN      NaN
3       NaN      NaN      NaN
4       NaN      NaN      NaN

In [ ]:
# fill in missing flow data using linear interpolation
numrows = len(data.index)
i = 1

while i < numrows:
    flow1 = data.iloc[i,1]
    
    if flow1 is None:
        flow1= (data.iloc[i-1,1]+data.iloc[i+1,1])/2

In [ ]:
# calculate average flow each sample
numrows = len(data.index)
#numrows = 5000    #to save time, use 5000 rows for testing

i = 0
y=0
cum_flow = 0
n=0

while i < numrows:
    date1 = data.iloc[i,0]
    flow = data.iloc[i,1]
    sampling = data.iloc[i,2]
    
    if sampling == 0:
        cum_flow = cum_flow + flow
        n=n+1
    else:
        print(date1)
        if n == 0:
            n=1
        avg_flow = cum_flow / n
        # output the values, then reset to zero
        #print(cum_flow)
        #print(avg_flow)
        #print(n)
        output.loc[y].date_time = date1
        output.loc[y].avg_flow = avg_flow
        output.loc[y].sampling = sampling
        y=y+1
        
        n = 0
        cum_flow = 0
    
    i=i+1

In [ ]:
output = output.dropna()
output